body {
  background-color: rgb(232, 232, 134);

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer {
  background-color: #333;
  color:white;
  text-align:  center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  /*display:  flex;*/
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 50px;
  width: calc(100% - 50px);
}

.submit-button {
  position: relative;
  left: 310px;
  bottom: 6px;
}

.top-label {
  display: block;
  margin-bottom: 10px;
}